PORT=3000;
MONGODB_URI= mongodb+srv://Hanzala:0987654321@project1.mpisi.mongodb.net/VideoTube?retryWrites=true&w=majority;
CORS-ORIGIN= *

// this code is not working because it has error in this string

//Tokens

ACCESS_TOKEN_SECRET=@t7vG^P!9b@*Dx#cRQEz8$kW4HZmL=opVjY2N?UqA5sJ!-Xf;
ACCESS_TOKEN_EXPIRY=1d;


REFRESH_TOKEN_SECRET=^P!9b@*Dx#cRQEz8$kW4HZmL=opVjY2N?UqA5sJ!-Xf@t7vG;
REFRESH_TOKEN_EXPIRY=7d;


// Configuration settings variables required for cloudinary

CLOUDINARY_CLOUD_NAME = dalxczmno;
CLOUDINARY_CLOUD_API_KEY=944816736544634;
CLOUDINARY_CLOUD_API_SECRET=14982HAKF28B;